@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.IconButton{
    border: none;
    background-color: transparent;
}

.CreateNewRowButton{
    border: 1px solid #7749F8;
    background-color: transparent;
    color: #7749F8;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.3s;
}

.CreateNewRowButton:hover{
    color: white;
    background-color: #7749F8;
}
